<h1 class = "text-center">New Question-Answer Relation Creation</h1>

<%= render "form", question_answer_rel: @question_answer_rel %>

<br>

<div class = "d-grid gap-2 col-6 mx-auto">
  <%= link_to "Back to relations", administrator_question_answer_rels_path, method: :get, class: "btn btn-alogin btn-lg" %>
</div>
