<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
table, th, td {
  border: 2.5px solid green;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
</style>
</head>
<body>

<center><h2>Emergency Contacts</h2>
<p>If you or someone you know is experiencing a life threatening emergency, please dial 911.
<br>If you or someone you know is in need of immediate assistance, please use the links below. 
The survey will be available to you at any time.</center>

<table class="center">
  <tr>
    <th>Organization</th>
    <th>Phone Number</th> 
    <th>Text Options</th>
  </tr>
  <tr>
    <td><a href="https://988lifeline.org/?utm_source=google&utm_medium=web&utm_campaign=onebox">Colorado Suicide Hotline</a></td>
    <td>988</td>
    <td>Text 988</td>
  </tr>
  <tr>
    <td><a href="https://www.thehotline.org/?utm_source=youtube&utm_medium=organic&utm_campaign=domestic_violence">Domestic Violence</a></td>
    <td>800-799-7233</td>
    <td>Text 'BEGIN' to 88788</td>
  </tr>
  <tr>
    <td><a href="https://co4kids.org/contact/">Colorado Child Abuse and Neglect Hotline</a></td>
    <td>844-CO-4-Kids</td>
    <td>N/A</td>
  </tr>
</table>

</body>
</html>


