<footer class="footer #404040 py-4" style="background-color: #A4C3B2;">
  <div class="container text-center">
    <p>2024 COmunity. All rights reserved</p>
    <p>
      <a href="#" class="footer-link">Privacy Policy</a> 
      <span class="footer-separator"> • </span>
      <a href="#" class="footer-link">Terms of Use</a> 
      <span class="footer-separator"> • </span>
      <a href="<%= contactus_path %>" class="footer-link">Contact Us</a>
    </p>
  </div>
</footer>
