<div style="text-align: center;">
<h1 style="font-weight: bold; color: #4e6a5b;">Terms of Service</h1>
<p><em>Last Modified: Nov 20, 2024</em></p>
</div>


<p><strong>1. Introduction</strong></p>
<p>The following terms and conditions govern your access to and use of the Colorado Community Resource Finder, including our proprietary database containing data and information concerning community resources and services in Colorado, and any other services, data, information, and other content offered or made available on the web app.</p>
<p><strong>PLEASE READ THESE TERMS CAREFULLY BEFORE YOU ACCESS OR USE OUR SERVICES. BY ACCESSING OR USING OUR SERVICES, YOU ACCEPT AND AGREE TO BE BOUND AND ABIDE BY THESE TERMS, INCLUDING WITHOUT LIMITATION, THE PROHIBITIONS AGAINST SCRAPING INFORMATION AND DATA FROM THE SERVICES SET FORTH IN SECTION 10.1 (PROHIBITED USES). YOU MUST NOT ACCESS OR USE THE SERVICES IF YOU DO NOT AGREE TO THESE TERMS.</strong></p>

<p><strong>2. Accessing the Services</strong></p>
<p>We are not liable if the Services are unavailable. You are responsible for arranging access and ensuring anyone using your connection follows these Terms. All information you provide must be accurate and up to date. To access certain parts, you may need to provide registration details, which are governed by our Terms and Privacy Policy. If you have a username or password, keep it confidential and do not share it. Notify us immediately of any unauthorized access. We may disable your account at our discretion if you violate the Terms.</p>

<p><strong>3. Submissions</strong></p>
<p>The Services may include interactive features like message boards and forums where users can post content ("Submissions"). All Submissions must follow the Terms, including the Rules of Conduct. Submissions are considered non-confidential, and by posting, you grant us and our affiliates the right to use and share the material. You confirm that you own or control the rights to your Submissions and that they comply with the Terms. You are responsible for your Submissions, including their legality and accuracy. We are not liable for the content posted by you or other users.</p>

<p><strong>4. Monitoring and Enforcement</strong></p>
<ul>
  <li>We have the right to: (a) remove or refuse any Submissions at our discretion; (b) take action if we believe a Submission violates the Terms, infringes rights, threatens safety, or creates liability; (c) disclose your identity to third parties claiming their rights are violated by your post; (d) take legal action for illegal or unauthorized use; and (e) suspend or terminate your access for any reason.</li>
  <li>We may also cooperate with law enforcement in disclosing information. You waive claims against us for actions taken during investigations. We are not liable for reviewing or removing all posted material.</li>
</ul>

<p><strong>5. Privacy</strong></p>
<p>All information we collect through our Services is subject to our Privacy Policy. By using the Services, you consent to all actions taken by us with respect to your information in compliance with our Privacy Policy.</p>

<p><strong>6. Rules of Conduct</strong></p>
<p><strong>6.1. Prohibited Uses</strong></p>
<p>You may only use the Services as outlined in these Terms. You agree not to:</p>
<ul>
  <li>Use the Services in a way that violates any laws or infringes on others' rights, including privacy or intellectual property.</li>
  <li>Exploit or harm minors, including exposing them to inappropriate content or requesting personal information.</li>
  <li>Send or use content that doesn't meet the Content Standards.</li>
  <li>Impersonate others or Colorado Community Resource Finder.</li>
  <li>Engage in conduct that disrupts others' use or harms the Services or users.</li>
  <li>Introduce harmful code, attack the Services, or interfere with its operations.</li>
  <li>Gain unauthorized access to the Services or related systems.</li>
  <li>Create fake or automated accounts.</li>
  <li>Engage in any activity that conflicts with these Terms or our Privacy Policy.</li>
</ul>

<p><strong>6.2. Content Standards</strong></p>
<p>Submissions must in their entirety comply with all applicable laws and regulations and, without limiting the foregoing, must not:</p>
<ul>
  <li>Contain defamatory, obscene, or offensive material.</li>
  <li>Promote explicit content, violence, or discrimination.</li>
  <li>Infringe on intellectual property rights.</li>
  <li>Violate legal rights or conflict with these Terms or our Privacy Policy.</li>
  <li>Promote illegal activities or unlawful acts.</li>
  <li>Cause annoyance or distress.</li>
  <li>Impersonate others or misrepresent identity.</li>
  <li>Involve commercial activities, solicitations, or promotions.</li>
  <li>Mislead others about our endorsement.</li>
  <li>Include personal information in publicly viewable areas.</li>
</ul>

<p><strong>7. Copyright Infringement</strong></p>
<p>If you believe any content on our Services infringes your copyright, you can request its removal by submitting a DMCA notice to our designated copyright agent. We may disable or terminate accounts of repeat infringers. DMCA notices must include:</p>
<ul>
  <li>Your signature,</li>
  <li>Identification of the copyrighted work,</li>
  <li>Identification of the infringing material,</li>
  <li>Your contact information,</li>
  <li>A statement of good faith belief the use is unauthorized,</li>
  <li>An accuracy statement, and</li>
  <li>A statement under penalty of perjury that you are authorized to act on behalf of the copyright owner.</li>
</ul>

<p><strong>8. Reliance on Information Posted</strong></p>
<p>The information on our Services is for general purposes only. We do not guarantee its accuracy or usefulness, and you use it at your own risk. We are not responsible for any reliance you place on this information. Content from users or third parties, including Submissions, reflects their own opinions and responsibility. These do not represent our views, and we are not liable for the accuracy or content of third-party materials.</p>

<p><strong>9. Disclaimer of Warranties</strong></p>
<p>We do not guarantee that files available from the internet or our Services are free of viruses or harmful code. You are responsible for having your own antivirus protection and data recovery processes. We are not liable for any damage caused by viruses, denial-of-service attacks, or harmful materials from using our Services or linked websites.</p>
<p>Your use of the Services is at your own risk. The Services and content are provided "as is" without warranties of any kind. We do not guarantee the accuracy, reliability, or security of the Services. All warranties are disclaimed to the fullest extent allowed by law.</p>

<p><strong>10. Indemnification</strong></p>
<p>You agree to defend, indemnify, and hold harmless Colorado Community Resource Finder, our affiliates, licensors, and service providers, and our and their respective officers, directors, employees, contractors, agents, licensors, suppliers, successors, and assigns from and against any claims, liabilities, damages, judgments, awards, losses, costs, expenses, or fees (including reasonable attorneys’ fees) arising out of or relating to your violation of these Terms or your use of the Services, including, but not limited to, your Submissions, any use of the Services’ content, information, data, or other materials other than as expressly authorized in these Terms, or your use of any other information, data, or materials obtained from the Services.</p>

<p><strong>11. Limitation on Liability</strong></p>
<p>To the fullest extent allowed by law, Colorado Community Resource Finder and its affiliates are not liable for any damages arising from your use or inability to use the Services, linked websites, or related content. This includes all types of damages, such as personal injury, loss of revenue, or emotional distress, regardless of the cause (tort, breach of contract, etc.), even if foreseeable. This does not affect any liability that cannot be excluded or limited by law.</p>

<p><strong>12. General</strong></p>
<p><strong>12.1. Applicable Law and Jurisdiction</strong></p>
<p>All matters relating to the Services and these Terms, and any dispute or claim arising therefrom or related thereto (in each case, including non-contractual disputes or claims), shall be governed by and construed in accordance with the internal laws of the State of Colorado without giving effect to any choice or conflict of law provision or rule. Any legal suit, action, or proceeding arising out of, or related to, these Terms or the Services shall be instituted exclusively in the federal courts of the United States or the courts of the State of Colorado, in each case located in the City of Denver and County of Denver. You waive any and all objections to the exercise of jurisdiction over you by such courts and to venue in such courts.</p>

<p><strong>12.2. Entire Agreement</strong></p>
<p>These Terms and our Privacy Policy constitute the sole and entire agreement between you and Colorado Community Resource Finder regarding the Services and supersede all prior and contemporaneous understandings, agreements, representations, and warranties, both written and oral, regarding the Services.</p>
